<style>
    body {
        background: linear-gradient(180deg, #000000, #0f9b0f);
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        overflow-y: hidden;
    }

    h1 {
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(180deg, #11998e, #38ef7d);
        font-size: 30px;
    }

    p {
        color: white;
        font-size: 20px;
        width: 600px;
        line-height: 30px;
    }

    h2 {
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(180deg, #11998e, #38ef7d);
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }

    .block { 
        width: 200px; 
        height: 50px; 
        border: none;
        line-height: 50px;
        text-align: center; 
        margin-bottom: 20px;
        background-color:  #19182a;
        border-radius: 10px;
        color: white;
        -webkit-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
        -moz-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
        box-shadow: 5px 5px 5px 2px rgba(107, 2, 255, 0.6);
    }

    .block:hover {
      background-color: black;
      transition: all 500ms ease;
      -webkit-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      -moz-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      box-shadow: 5px 5px 5px 2px rgba(0, 255, 246, 0.6);
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .main-block {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
  }

    .main-block1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
  }

  .main-block1 img {
    border-radius: 10px;
  }
</style>

<div class="main-block1">
    <div class="left">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div class="right">
        <img 
          src="https://www.sysleaf.com/static/4df94bc06ab3c9cbcafa31fe010c96e4/c1ced/nodejs-express.png" 
          alt="image"
          width="300px"
          >
    </div>
</div>

<h2>{{routing}}</h2>

{{!-- all block --}}
<div class="main-block">
  {{! friends }}
  <div class="block">
    <a href="/myFriends">Список моих друзей</a><br /><br />
  </div>

  {{! films }}
  <div class="block">
    <a href="/myFilms">Список моих фильмов</a><br /><br />
  </div>

  {{! hobbies }}
  <div class="block">
    <a href="/myHobbies">Список моих увлечений</a><br /><br />
  </div>

  {{! books }}
  <div class="block">
    <a href="/myBooks">Список моих книг</a><br /><br />
  </div>

  {{! foods }}
  <div class="block">
    <a href="/myFoods">Список моей любимой еды</a>
  </div>
</div>